<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<div class="container">
    <section id="content">
        <form action="/api/auth" method="post">
            <h1>Авторизация</h1>
            <div>
                <input placeholder="Имя" required="" type="text" name="user"> <br /><br />
                <input placeholder="Пароль" required="" type="password" name="pass"> <br /><br />
                <input value="Войти" type="submit">
            </div>
        </form>
    </section>
</div>
</body>
</html>